.intro{
    gap: 16px;
}

.base_info{
    gap: 8px;
}

.avatar{
    width: 80px;
    height: 80px;
}

.links{
    display: flex;
    gap: 16px;
}

.link{
    color: white;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
