.intro{
    gap: 16px;
}

.base_info{
    gap: 8px;
}

.avatar{
    width: 80px;
    height: 80px;
}



.links{
    display: flex;
    gap: 16px;
}

.link{
    color: white;
    font-size: 21px;
    // color: #CC5500;

    &:hover{
        color: #CC5500;
        transition: transform .5s ease-in-out;
    }
}
