.skills_list{
    display:  grid;
    grid-template-columns: repeat(5, 85px);
    grid-template-rows: repeat(2, 95px);
    gap: 32px;
    width: max-content;
    align-items: center;

    & div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.skill_header{
    margin-bottom: 48px;
}