.skills_list{
    display:  grid;
    grid-template-columns: repeat(5, 85px);
    grid-template-rows: repeat(2, 85px);
    gap: 32px;
    width: max-content;
    align-items: center;

    & div{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.skill_name{
    margin-top: auto;
}